.Footer {
  width: 90%;
  margin: auto;
  padding: 48px 0;
}

.Footer-link{
  display: flex;
  border-top: 1px solid #98a2b3;
  width: 90%;
  justify-content: space-between;
  margin: auto;
  padding: 32px 32px 0;
}